{
  "openapi": "3.0.0",
  "info": {
    "title": "Sasquatch Carpet Cleaning API",
    "description": "AI Agent API for booking professional carpet cleaning, upholstery cleaning, and hard surface cleaning services in Colorado Springs, CO. This API allows AI agents to view services, check availability, get price estimates, and book appointments on behalf of customers.",
    "version": "1.0.0",
    "contact": {
      "email": "sasquatchcc719@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://sasquatchsightings.com/api/agent",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "summary": "List available services",
        "description": "Get a list of all active cleaning services with pricing, categories, and current promotions. Call this first to see what services are available.",
        "operationId": "getServices",
        "responses": {
          "200": {
            "description": "List of services and promotions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Service ID (use this when booking)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Service name"
                          },
                          "category": {
                            "type": "string",
                            "description": "Service category"
                          },
                          "description": {
                            "type": "string",
                            "description": "Service description"
                          },
                          "base_price": {
                            "type": "number",
                            "description": "Base price in dollars"
                          },
                          "pricing_unit": {
                            "type": "string",
                            "description": "Pricing unit (fixed, per_room, per_sqft, etc.)"
                          },
                          "estimated_duration_minutes": {
                            "type": "integer",
                            "description": "Estimated time for this service"
                          }
                        }
                      }
                    },
                    "promotions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Promotion code"
                          },
                          "description": {
                            "type": "string",
                            "description": "What the promotion offers"
                          },
                          "discount_amount": {
                            "type": "number",
                            "description": "Discount in dollars"
                          },
                          "minimum_subtotal": {
                            "type": "number",
                            "description": "Minimum order to qualify"
                          }
                        }
                      }
                    },
                    "booking_instructions": {
                      "type": "string",
                      "description": "How to book a job using this API"
                    },
                    "service_area": {
                      "type": "string",
                      "description": "Service area coverage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/availability": {
      "get": {
        "summary": "Check availability",
        "description": "Check available time slots for a specific date. Returns 2-hour appointment windows.",
        "operationId": "getAvailability",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-05-01"
            },
            "description": "Date to check availability (YYYY-MM-DD format)"
          },
          {
            "name": "duration_minutes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 120
            },
            "description": "Required appointment duration in minutes (default: 120)"
          }
        ],
        "responses": {
          "200": {
            "description": "Available time slots for the requested date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "description": "The date that was checked"
                    },
                    "slots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "start_time": {
                            "type": "string",
                            "description": "Slot start time (HH:MM:SS)"
                          },
                          "end_time": {
                            "type": "string",
                            "description": "Slot end time (HH:MM:SS)"
                          },
                          "label": {
                            "type": "string",
                            "description": "Human-readable time label"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Message if no slots available"
                    },
                    "next_available_date": {
                      "type": "string",
                      "description": "Next date with availability (if requested date is full)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimate": {
      "get": {
        "summary": "Get price estimate",
        "description": "Calculate total cost for selected services including any applicable promotions.",
        "operationId": "getEstimate",
        "parameters": [
          {
            "name": "services",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "abc123,def456"
            },
            "description": "Comma-separated service IDs from /services endpoint"
          },
          {
            "name": "quantities",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1,2"
            },
            "description": "Comma-separated quantities (defaults to 1 for each service)"
          }
        ],
        "responses": {
          "200": {
            "description": "Price estimate with line items and promotions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "line_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "service_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "unit_price": {
                            "type": "number"
                          },
                          "line_total": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "subtotal": {
                      "type": "number",
                      "description": "Subtotal before discounts"
                    },
                    "promotion_applied": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "discount": {
                          "type": "number"
                        }
                      }
                    },
                    "total": {
                      "type": "number",
                      "description": "Final total after discounts"
                    },
                    "estimated_duration_minutes": {
                      "type": "integer",
                      "description": "Total estimated time"
                    },
                    "note": {
                      "type": "string",
                      "description": "Additional pricing notes"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/book": {
      "post": {
        "summary": "Book an appointment",
        "description": "Create a new cleaning appointment. Depending on the API key's booking_mode, this will either create a confirmed booking (direct mode) or a booking request that requires approval (request mode). All bookings outside the primary service area require approval regardless of mode.",
        "operationId": "bookAppointment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "address",
                  "date",
                  "start_time",
                  "line_items"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "John"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "Smith"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.smith@example.com"
                      },
                      "phone": {
                        "type": "string",
                        "example": "7195551234"
                      }
                    }
                  },
                  "address": {
                    "type": "object",
                    "required": [
                      "street_1",
                      "city",
                      "zip_code"
                    ],
                    "properties": {
                      "street_1": {
                        "type": "string",
                        "example": "123 Main St"
                      },
                      "city": {
                        "type": "string",
                        "example": "Colorado Springs"
                      },
                      "state": {
                        "type": "string",
                        "default": "CO",
                        "example": "CO"
                      },
                      "zip_code": {
                        "type": "string",
                        "example": "80904"
                      }
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-05-01",
                    "description": "Appointment date (YYYY-MM-DD)"
                  },
                  "start_time": {
                    "type": "string",
                    "example": "09:00",
                    "description": "Start time (HH:MM format, use a time from /availability)"
                  },
                  "line_items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "service_id",
                        "quantity"
                      ],
                      "properties": {
                        "service_id": {
                          "type": "string",
                          "description": "Service ID from /services"
                        },
                        "quantity": {
                          "type": "number",
                          "example": 1
                        }
                      }
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "confirmation_number": {
                      "type": "string",
                      "description": "Booking confirmation number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "confirmed",
                        "pending_approval"
                      ],
                      "description": "Whether booking is confirmed or pending approval"
                    },
                    "appointment_date": {
                      "type": "string",
                      "description": "Scheduled date"
                    },
                    "start_time": {
                      "type": "string",
                      "description": "Start time"
                    },
                    "end_time": {
                      "type": "string",
                      "description": "End time"
                    },
                    "subtotal": {
                      "type": "number",
                      "description": "Subtotal amount"
                    },
                    "discount_applied": {
                      "type": "number",
                      "description": "Discount amount applied"
                    },
                    "total": {
                      "type": "number",
                      "description": "Final total"
                    },
                    "message": {
                      "type": "string",
                      "description": "Confirmation message for the customer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing fields, out of service area, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (max 5 bookings per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded. Booking is limited to 5 requests per minute."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from Sasquatch Carpet Cleaning admin dashboard. Include in Authorization header as 'Bearer YOUR_API_KEY'"
      }
    }
  }
}
